<div class="container">
    <div class="row">
        <div class="col-lg-4 pcard_container">
            <div class="pcard ui_panel">
                <app-dataset-picker [(selectedDataset)]="datasetId"></app-dataset-picker>
            </div>
        </div>

        <div class="col-lg-8 pcard_container">
            <div class="pcard ui_panel">
                <app-batch-picker [datasetId]="datasetId" [(selectedBatch)]="batchId"></app-batch-picker>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pcard_container">
            <div class="pcard ui_panel">
                <ul class="nav nav-tabs">
                    <li *ngFor="let mode of batchViewModes | keyvalue" class="nav-item">
                        <a [ngClass]="{'nav-link': true,
                            'active': mode.value == currentBatchViewMode}"
                            style="cursor: pointer"
                            (click)="setViewMode(mode.value)">
                            {{mode.value}}</a>
                    </li>
                </ul>
                <app-batch-samples [hidden]="currentBatchViewMode != batchViewModes.SampleList"
                                   [batchId]=batchId>
                </app-batch-samples>
                <app-sample-search [hidden]="currentBatchViewMode != batchViewModes.SampleSearch">
                </app-sample-search>
            </div>
        </div>
    </div>
</div>
