<p-card header="Batches">
    <div *ngIf="!datasetId">Select a dataset to show batches</div>

    <ng-container *ngIf="datasetId && !batches">
        <div>Loading batches...</div>
        <p-progressSpinner *ngIf="!datasets"></p-progressSpinner>
    </ng-container>

    <div *ngIf="batches">Batches for dataset {{datasetId}}:</div>

    <button *ngFor="let batch of batches" pButton type="button" 
        label="{{batch.id}}"
        [ngClass]="{'p-button-success': batch.id == selectedBatch,
                    'p-button-secondary': batch.id != selectedBatch }"
        (click)="selectBatch(batch.id)">
    </button>
</p-card>
