/* You can add global styles to this file, and also import other style files */

@import
  'functions',
  'variables',
  'mixins',
  'root',
  'print',
  'reboot',
  'type',
  'grid',
  'forms',
  'buttons',
  'transitions',
  'nav',
  'navbar',
  'modal',
  'spinners',
  'close',
  'card',
  'utilities/screenreaders',
  'utilities/spacing',
  'utilities/visibility',
  'utilities/align',
  'utilities/borders',
  'utilities/display',
  'utilities/flex',
  'utilities/float',
  'utilities/overflow',
  'utilities/position';

@import '~ngx-toastr/toastr-bs4-alert';

html {
    font-size: 10pt;
}

.padded_ui_panel {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(67, 67, 67, 0.15);
    border: 1px solid rgba(99, 99, 99, 0.2);
}
