/* You can add global styles to this file, and also import other style files */

// @import 'bootstrap';

@import
  'functions',
  'variables',
  'mixins',
  'root',
  'print',
  'reboot',
  'type',
  'grid',
  'forms',
  'buttons',
  'transitions',
  'nav',
  'navbar',
  'modal',
  'spinners',
  'close',
  'card',
  'dropdown',
  'button-group',
  'utilities/screenreaders',
  'utilities/spacing',
  'utilities/visibility',
  'utilities/align',
  'utilities/borders',
  'utilities/display',
  'utilities/flex',
  'utilities/float',
  'utilities/overflow',
  'utilities/spacing',
  'utilities/position';

@import '~ngx-toastr/toastr-bs4-alert';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  font-size: 9pt;
}

body {
  background-color: #f1f1f1;
  padding-bottom: .5rem;
}

.navbar {
  box-shadow: 0 .125rem .25rem rgba($black, .075);
}

.main_content {
  padding: .5rem;
}

.ui_panel {
  background-color: #ffffff;
}

.pcard_container {
  padding: .5rem;
}

.pcard {
  box-shadow: 0 .125rem .25rem rgba($black, .075);
  padding: 1rem;
}

.dropdown-scrollable {
    max-height: 340px;
    padding-right: 20px;
    overflow-y: auto;
}
