/* -------------------------------------------
 * CSS for general elements
 * ------------------------------------------- */
#netvizdiv h1,
#netvizdiv h3{
	color: #84c754;
}

#netvizdiv div{
	width: 20%;
	display: inline-block;
}

#display.visualization{
  border-style: dashed;
  position: relative;
  overflow: hidden;
	display: flex;
  flex-direction: row;
	color: #84c754;
}

#leftDisplay.sub-viz{
	border-style: dashed;
  color: navajowhite;
  width: 100%;
  height: 100%;
}

#leftDisplay.sub-viz.with-side{
  width: 50%;
}

#rightDisplay.sub-viz{
  border-style: dashed;
  color: sandybrown;
  width: 50%;
  height: 100%; */
}

#netvizdiv div.info-panel{
	border-style: dashed;
	display: inline-block;
	width: 30%;
	height: 100%;
}

#netvizdiv select{
	width: 15%;
	display: inline-block;
}

#netvizdiv label{
	width: 120px;
	font-weight: bold;
	display: inline-block;

}

#netvizdiv input[type=text],
#netvizdiv input[type=number]{
	border: 1px;
	border-color: #b2c7ea;
	border-style: solid;
	font-weight: bold;
	text-align: right;
	display: inline;
	width: 100px;

}

/* ----------------------------------------------------------
 * CSS for modal elements - based on the w3schools example
 * ---------------------------------------------------------- */
#netvizdiv div.modal{
	display: none; /* hidden by default */
	position: fixed; /* dont move */
	z-index: 1; /* on top of the page */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#netvizdiv div.modal-content{
	background-color: #fefefe;
	margin: 0;
	padding: 0px 20px;
	width: 80%;
}

#netvizdiv span.modal-close{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#netvizdiv span.modal-close:hover,
#netvizdiv span.modal-close:focus{
	color: #000;
	text-decoration: none;
}

#netvizdiv span.modal-add,
#netvizdiv span.modal-remove{
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#netvizdiv span.modal-button{
	background-color: green;
	font-size: 1em;
	margin: 5px;
	color: white;
	padding: 10px 10px;
	cursor: pointer;
	float: right;
}

/* -----------------------------------------------------------------
 * CSS for context menus - as implemented on the library
 * ----------------------------------------------------------------- */

.cy-context-menus-cxt-menu {
    display:none;
    z-index:1000;
    position:absolute;
    border:1px solid #A0A0A0;
    padding: 0;
    margin: 0;
    width:auto;
}

.cy-context-menus-cxt-menuitem {
    display:block;
    z-index:1000;
    width: 100%;
    padding: 3px 20px;
    position:relative;
    margin:0;
    background-color:#f8f8f8;
    font-weight:normal;
    font-size: 12px;
    white-space:nowrap;
    border: 0;
    text-align: left;
}

.cy-context-menus-cxt-menuitem:enabled {
    color: #000000;
}

.cy-context-menus-ctx-operation:focus {
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0B9BCD;
    background-image: none;
    cursor: pointer;
}

.cy-context-menus-cxt-menuitem[content]:before {
    content:attr(content);
}

.cy-context-menus-divider {
  border-bottom:1px solid #A0A0A0;
}
