<h2>Gene set editor</h2>

<div *ngIf="geneSet$ | async as geneSet; else geneSetNotFound">
  <h3>{{ geneSet.name }} ({{ geneSet.platform }} / {{ geneSet.type }})</h3>
  <div class="form-group">
    <label for="probeSelect">Probes</label>
    <select
      #probeSelect="ngModel"
      ngModel
      multiple
      id="probeSelect"
      class="form-control"
      size="10"
    >
      <option *ngFor="let probe of geneSet.probes.sort()">{{ probe }}</option>
    </select>
    <button
      type="button"
      class="btn btn-danger mt-3"
      (click)="deleteProbes(geneSet, probeSelect.value)"
      [disabled]="probeSelect.value?.length === 0"
    >
      Delete selected probes
    </button>
  </div>
  <div class="form-group">
    <label for="newProbe">Probe IDs</label>
    <textarea
      [(ngModel)]="newProbesText"
      id="newProbes"
      class="form-control"
      rows="5"
    >
    </textarea>
    <button
      type="button"
      class="btn btn-primary mt-3"
      (click)="addProbes(geneSet, newProbesText)"
      [disabled]="newProbesText === ''"
    >
      Add probes
    </button>
  </div>
  <div class="form-group">
    <button
      type="button"
      class="btn btn-success"
      (click)="openGeneSetExportModal(geneSetExportModal)"
    >
      Export gene set to TargetMine
    </button>
  </div>
  <div class="form-group">
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteGeneSet(geneSet.name)"
    >
      Delete gene set
    </button>
  </div>
</div>

<ng-template #geneSetNotFound>
  <div *ngIf="geneSetName$ | async as geneSetName; else selectAGeneSet">
    Gene set {{ geneSetName$ | async }} not found
  </div>
  <ng-template #selectAGeneSet> Select a gene set to edit </ng-template>
</ng-template>

<ng-template #geneSetExportModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Export gene set to TargetMine</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [ngModel]="targetMineUsername$ | async"
        (ngModelChange)="targetMineUsername$.next($event)"
        name="username"
        class="form-control mb-2"
        placeholder="Enter your TargetMine username"
        [disabled]="waitingForApiResponse"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [ngModel]="targetMinePassword$ | async"
        (ngModelChange)="targetMinePassword$.next($event)"
        name="password"
        class="form-control mb-2"
        placeholder="Enter your TargetMine password"
        [disabled]="waitingForApiResponse"
      />
      <div class="form-check mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="replaceGeneSet"
          id="replace-gene-set"
        />
        <label class="form-check-label" for="replace-gene-set">
          Replace existing gene set if present
        </label>
      </div>
      <button
        type="button"
        class="btn btn-success mt-2"
        (click)="exportGeneSet()"
        [disabled]="
          waitingForApiResponse ||
          !targetMineUsername$.value ||
          !targetMinePassword$.value
        "
      >
        <span
          *ngIf="waitingForApiResponse"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ waitingForApiResponse ? "Exporting" : "Export" }}
      </button>
    </div>
  </div>
</ng-template>
