Toxygates/war/*
Toxygates/gwt-unitCache/*
Toxygates/extract-deploy/*
Toxygates/extract-v2*
Toxygates/extras/*
OTGTool/target/*
Toxygates/target/*
Toxygates/project/target/*
target/*
project/target/*
Toxygates/bin/*
OTGTool/bin/*
OTGTool/lib/*
Toxygates/lib/*
Toxygates/gwtTomcatFilter.jar

.DS_Store

#Eclipse
OTGTool/.cache-main
OTGTool/.cache-tests
OTGTool/.classpath
OTGTool/.project
OTGTool/.settings
Toxygates/.cache-main
Toxygates/.cache-tests
Toxygates/.classpath
Toxygates/.project
Toxygates/.settings

#IntelliJ
.idea/*
*.iml
out/*

#VS Code
.vscode

*.class

.envrc

