<div [ngClass]="{'container': !data, 'container-fluid': data}">
    <div class="row">
        <div class="col-12 padded_ui_panel">
            <ng-container *ngIf="samples.length == 0">
                No samples selected
            </ng-container>
            
            <ng-container *ngIf="samples.length > 0">
                Selected samples:
                <ul>
                    <li *ngFor="let sample of samples">{{sample}}</li>
                </ul>
            </ng-container>

            <div id="my-tabular-table"></div>
        </div>
    </div>
</div>
