.withMargin {
	margin: 10px;	
}

.uploader {
	margin: 5px;
	padding: 5px;
	border: solid grey 1px;	
	width: 100%;
}

.gwt-Label-success {
	color: green;
}

.gwt-Label-failure {
	color: red;
}

.taskStatus {
	font-size: large;
	margin: 10px;
}

.taskLog {
	font-size: small;
	margin: 2px;
	padding: 2px;
	border: solid grey 1px;
	width: 490px;
}

.taskLogEntry {
	margin: 2px;
}

.taskInfoEntry {
	font-weight: bold;
	margin: 2px;
	color: blue;
}