.toxygatesTitle {
	font-family: 'Play', sans-serif;
	font-size: 36pt;
}

.resizingListBox {
	font-size: 13px;
}

.dialogVPanel {
	margin: 5px;
}

exprGrid {
	border: 1px solid black;
}

.highlySpaced {
	margin: 5px;
}

.slightlySpaced {
	margin: 2px;
}

.slightlySpacedLeftRight {
	margin-left: 2px;
	margin-right: 2px;
}

.colored {
	background: Beige;
}

.colored-margin {
	background: Beige;
	padding: 5px;
	border: grey solid 1px;
	margin: 2px;
}

.darkColored {
	background: White;
	margin: 2px;
}

.colored2 {
	margin: 1px 0px 0px 0px;
	background: Beige;
}

.compoundSelector {
	margin: 0em 0em 0em 1em;
}

.none {
	
}

.heading {
	font-size: 1.2em;
	color: #777777;
	margin: 5px;
	text-align: center;	
}

.navPanel {	
	float: left;
}

.navOuterPanel {
	background: Beige;
	float: left;
}

.navlink {
	font-size: 1.2em;
	font-weight: bold;
	color: grey;
	margin: 0px;	
	padding: 5px;
}

.navlink-mouseover {
	background: BurlyWood;
	cursor: pointer;
}

.navlink-disabled {	
	color: grey;	
}

.navlink-enabled {	
	color: black;	
	cursor: pointer;	
}

.navlink-inner {
	border-left: solid 2px #505050;
	margin-left: 0px;	
}

.navlink-current {	
	background: #505050;
	color: beige;		
}

.navlink-enabled-mouseover {
	
}

.border {
	margin: 1px;
	border: solid black 1px;
}

.invisibleBorder {
	margin: 1px;
	border: solid white 1px;
}

.datasetInfo {
	margin: 1px;
	padding: 2px;
	border: solid black 1px;
	cursor: pointer;	
}

.emphasized {
	font-weight: bold;
}

.heavyEmphasized {
	font-weight: bold;
	font-size: 1.1em;
	margin: 2px;	
}

.statusPanel {
	background: White;
	text-align: left;
	color: black;
}

.guideBar {
	background: LemonChiffon;
	color: black;
	text-align: left;
	padding: 4px;
	font-size: large;
}

.statusBorder {
	margin: 1px;
	border: solid DarkBlue 1px;
}

.highlightedRow {
	font-style: italic;	
	font-weight: bold;	
}

.dataColumn {
	color: Black;
}

.extraColumn {
	color: Black;
}

.clickCell {
	cursor: pointer;
}

.associationValue {
	clear: left;
}

#helpMenu {
	font-weight: bold;
	color: green;
}

.feedbackMenuItem {
	font-weight: bold;
	color: green;
}

/* This must correspond to the colors in SampleGroup.java
*/
.Group0 {	
	color: #8582B5;
}
.Group1 {
	color: #7AC653;	
}
.Group2 {
	color: #C3534D;
}
.Group3 {
	color: #90C1AB;
}
.Group4 {
	color: #504239;
}
.Group5 {
	color: #C1A54A;
}
.Group6 {
	color: #B354B3;
}

.watermark {
	font-style: italic;
	color: DarkGray;
}

.suggest-keyword {
	text-align: left;
}

.suggest-reference {
	text-align: right;
	color: DarkGray;
	font-style: italic;
	font-size: 0.75em;
}

.table-cell {
	display: table-cell;
}

.width-fix {
	padding-right: 10px;
}

.gwt-MenuItem-disabled {
	color: DarkGray;
}

.menuSeparatorCaption {
  color: DarkGray;
  font-style: italic;
  font-size: 0.75em;
}

.metadata-info {
	margin: 5px;
}

.metadata-info-title {
	font-size:1.1em;
	font-weight: bold;
	margin:0.5em;
	margin-right:3em;	
}

.metadata-info-heading {
	font-size: 1.2em;	
	font-weight: bold; 
	margin:0.5em;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.metadata-info-comment {
	margin:0.5em;
}

.metadata-grid {
	width: 700px;
}

.metadata-firstColumn {
	width: 200px;
}

.numericalParameterAbove {
	color: red;
	font-weight: bold;
	width: 10em;
}

.numericalParameterBelow {
	color: blue;
	font-weight: bold;
	width: 10em;
}

.numericalParameterPathological {
	color: red;
	width: 10em;
}

.numericalParameterHealthy {
}

.sampleDetailTitleColumn {
	width: 15em;
}

.sampleDetailDataColumn {
	width: 10em;
}

/*
 Fix "Ghost scrollbar" issue in Safari with trackpads.
 See https://groups.google.com/forum/#!topic/google-web-toolkit/xxeS6LETdBs
 
 Unfortunately this makes scrollbars permamently visible, which
 doesn't always look good.
 */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(0,0,0,0.3);
}
