/******************************************************************************	
Global
******************************************************************************/

html * {
	font-family: Georgia, Times, "Times New Roman", serif;
}

/******************************************************************************	
App elements 
******************************************************************************/

.toxygatesTitle {
	font-family: 'Play', sans-serif;
	font-size: 36pt;
}

.compoundSelector {
	margin: 0em 0em 0em 1em;
}

.analysisTools {
	margin: 1px 0px 0px 0px;
	background: Beige;
}

/**************************************	
Menu bar
**************************************/

.menuBarPanel {
	padding-left: 11px;
	background: #363636;	
}

.gwt-MenuBar table {
	border-spacing: 0px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	color: white;
	position: relative;
	/* This border needs to be the same color as the menuBarPanel background. It ensures 
	   correct positioning of the partial border :before pseudo-element, and also prevents
	   the pixels on the border from changing color when mousing over the menu item (this
	   is why we can't just use transparent instead of setting the same color). 
	*/
	border-left: solid 1px #363636;
}

.gwt-MenuBar-horizontal .gwt-MenuItem:before {
  content: '';
  width: 1px; 
  height: 5px; 
  background: #7E7E7E; 
  position: absolute; 
  top: 1px;
  left: -1px;
}

.gwt-MenuItem-disabled {
	color: DarkGray;
}

#helpMenu {
	color: #FCEE21;
	/* This does the same thing as the border-left in .gwt-MenuBar-horizontal .gwt-MenuItem,
	   except for the :after pseudo-element. */
	border-right: solid 1px #363636;
}

.gwt-MenuBar-horizontal .gwt-MenuItem:after {
  content: '';
  width: 1px; 
  height: 5px; 
  background: #7E7E7E; 
  position: absolute; 
  top: 1px;
  right: -1px;
}

.feedbackMenuItem {
	font-weight: bold;
	color: green;
}

.menuSeparatorCaption {
  color: DarkGray;
  font-style: italic;
  font-size: 0.75em;
}

/**************************************	
Top-level navigation links 
**************************************/

.navPanel {	
	height: 100%;
	float: left;
	margin-left: 11px;
}

.navOuterPanel {
	height: 100%;
	background: #363636;
	float: left;
}

.navlink {
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 1.2em;
	color: #A1A1A1;
	margin: 0px;
	padding: 0px 10px;
	border-right: solid 1px #595959;
	border-top: solid 1px #595959;
}

.navlink-enabled:hover {
	background: BurlyWood;
	cursor: pointer;
}

.navlink-disabled {	
}

.navlink-enabled {	
	cursor: pointer;	
}

.navlink-first {
	border-left: solid 1px #595959;
}

.navlink-current {	
	background: white;
	color: black;		
	border-top: none;
}

/**************************************	
Gene set editor 
**************************************/

.resizingListBox {
	font-size: 13px;
}

.geneSetInnerPanel {
	background: Beige;
	padding: 5px;
	border: grey solid 1px;
	margin: 2px;
}

/**************************************	
Time-dose grids 
**************************************/

.timeDoseGrid {
	margin: 5px;
}

.doseTimeBox {
	margin: 1px;
	border: solid white 1px;
}

.compoundDoseTimeBox {
	margin: 1px;
	border: solid black 1px;
}

.selectionGridSectionHeading {
	font-weight: bold;
	font-size: 1.1em;
	margin: 2px;	
}

/**************************************	
Status panel 
**************************************/

.statusPanel {
	background: White;
	text-align: left;
	color: black;
}

.statusBorder {
	margin: 1px;
	border: solid DarkBlue 1px;
}

.groupLabel {
	margin: 2px;
	white-space: nowrap;
	float: left;
}

.guideBar {
	background: LemonChiffon;
	color: black;
	text-align: left;
	padding: 4px;
	font-size: large;
}

/**************************************	
Expression table
**************************************/

.highlightedRow {
	font-style: italic;	
	font-weight: bold;	
}

.dataColumn {
	color: Black;
}

.extraColumn {
	color: Black;
}

.associationValue {
	clear: left;
}


/**************************************	
Groups
**************************************/

/* This must correspond to the colors in SampleGroup.java
*/
.Group0 {	
	color: #8582B5;
}
.Group1 {
	color: #7AC653;	
}
.Group2 {
	color: #C3534D;
}
.Group3 {
	color: #90C1AB;
}
.Group4 {
	color: #504239;
}
.Group5 {
	color: #C1A54A;
}
.Group6 {
	color: #B354B3;
}

/**************************************	
Sample Search
**************************************/

.samplesearch-label {
	color: silver;
}

.samplesearch-rootpanel {
}

.samplesearch-andpanel {
	margin:1px;
}

.samplesearch-orpanel {
	margin:1px;
	border-top: solid grey 1px;
	border-bottom: solid grey 1px;
}

.samplesearch-atomicpanel {
	margin:1px;
	padding: 1px;
	background: beige;
}

/**************************************	
Data sources information
**************************************/

.metadata-info {
	margin: 5px;
}

.metadata-info-title {
	font-size:1.1em;
	font-weight: bold;
	margin:0.5em;
	margin-right:3em;	
}

.metadata-info-heading {
	font-size: 1.2em;	
	font-weight: bold; 
	margin:0.5em;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.metadata-info-comment {
	margin:0.5em;
}

.metadata-grid {
	width: 700px;
}

.metadata-firstColumn {
	width: 200px;
}

/**************************************	
Probe selector
**************************************/

.watermark {
	font-style: italic;
	color: DarkGray;
}

.suggestion-keyword {
	text-align: left;
}

.suggestion-reference {
	text-align: right;
	color: DarkGray;
	font-style: italic;
	font-size: 0.75em;
}

/**************************************	
Sample details
**************************************/

.numericalParameterAbove {
	color: red;
	font-weight: bold;
	width: 10em;
}

.numericalParameterBelow {
	color: blue;
	font-weight: bold;
	width: 10em;
}

.numericalParameterPathological {
	color: red;
	width: 10em;
}

.numericalParameterHealthy {
}

.sampleDetailTitleColumn {
	width: 15em;
}

.sampleDetailDataColumn {
	width: 10em;
}

/******************************************************************************	
Non-semantic 
******************************************************************************/

.slightlySpaced {
	margin: 2px;
}

.slightlySpacedLeftRight {
	margin-left: 2px;
	margin-right: 2px;
}

.colored {
	background: Beige;
}

.heading {
	font-size: 1.2em;
	color: #777777;
	margin: 5px;
	text-align: center;	
}

.emphasized {
	font-weight: bold;
}

.clickCell {
	cursor: pointer;
}

.table-cell {
	display: table-cell;
}

.width-fix {
	padding-right: 10px;
}

/******************************************************************************	
Miscellaneous
******************************************************************************/

/*
 Fix "Ghost scrollbar" issue in Safari with trackpads.
 See https://groups.google.com/forum/#!topic/google-web-toolkit/xxeS6LETdBs
 
 Unfortunately this makes scrollbars permamently visible, which
 doesn't always look good.
 */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(0,0,0,0.3);
}
