.toxygatesTitle {
	font-family: 'Play', sans-serif;
	font-size: 36pt;
}

.resizingListBox {
	font-size: 13px;
}

.dialogVPanel {
	margin: 5px;
}

exprGrid {
	border: 1px solid black;
}

.highlySpaced {
	margin: 5px;
}

.slightlySpaced {
	margin: 2px;
}

.colored {
	background: Beige;
}

.colored-margin {
	background: Beige;
	padding: 5px;
	border: grey solid 1px;
	margin: 2px;
}

.darkColored {
	background: White;
	margin: 2px;
}

.colored2 {
	margin: 1px 0px 0px 0px;
	background: Beige;
}

.compoundSelector {
	margin: 0em 0em 0em 1em;
}

.none {
	
}

.heading {
	font-size: 1.2em;
	color: #777777;
	margin: 5px;
	text-align: center;	
}

.headingBlack {
	font-size: 1.2em;
	color: black;
	margin: 5px;
	text-align: center;
}

.clickHeading {
	font-size: 1.2em;
	color: DarkBlue;
	margin: 5px;
	text-align: center;
	cursor: pointer;
}

.headingCurrent {
	font-size: 1.2em;
	color: SteelBlue;
	margin: 1px;
	text-align: center;
	border: dotted 1px;
	padding: 3px;
}

.border {
	margin: 1px;
	border: solid black 1px;
}

.invisibleBorder {
	margin: 1px;
	border: solid white 1px;
}

.datasetInfo {
	margin: 1px;
	padding: 2px;
	border: solid black 1px;
	cursor: pointer;	
}

.emphasized {
	font-weight: bold;
}

.heavyEmphasized {
	font-weight: bold;
	font-size: 1.1em;
	margin: 2px;	
}

.statusPanel {
	background: White;
	text-align: left;
	color: black;
}

.guideBar {
	background: LemonChiffon;
	color: black;
	text-align: left;
	padding: 4px;
	font-size: large;
}

.statusBorder {
	margin: 1px;
	border: solid DarkBlue 1px;
}

.highlightedRow {
	font-style: italic;	
}

.dataColumn {
	color: Black;
}

.extraColumn {
	color: Black;
}

.clickCell {
	cursor: pointer;
}

.associationValue {
	clear: left;
}

#helpMenu {
	font-weight: bold;
	color: green;
}

.feedbackMenuItem {
	font-weight: bold;
	color: green;
}

/* This must correspond to the colors in Group.java
*/
.Group0 {
	color: #97BDBD;
}
.Group1 {
	color: #C46839;
}
.Group2 {
	color: #9F6AC8;
}
.Group3 {
	color: #9CD05B;
}
.Group4 {
	color: #513C4D;
}
.Group5 {
	color: #6B7644;
}
.Group6 {
	color: #C75880;
}

.watermark {
	font-style: italic;
	color: DarkGray;
}

.suggest-keyword {
	text-align: left;
}

.suggest-reference {
	text-align: right;
	color: DarkGray;
	font-style: italic;
	font-size: 0.75em;
}

.table-cell {
	display: table-cell;
}

.width-fix {
	padding-right: 10px;
}
