/* Based on com/google/gwt/user/cellview/client/DataGrid.css
   Note: the DataGrid.Style interface requires certain selectors to be present, so empty 
   declaration blocks shouldn't be deleted.
*/

@external '*';

@def selectionBorderWidth 2px;
.dataGridWidget {
}

.dataGridFirstColumn {
}

.dataGridLastColumn {
}

.dataGridFooter {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridHeader {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridCell {
  padding: 2px;
  overflow: hidden;
}

.dataGridFirstColumnFooter {
  
}

.dataGridFirstColumnHeader {
  
}

.dataGridLastColumnFooter {
  
}

.dataGridLastColumnHeader {
  
}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
  
}

.dataGridSortedHeaderDescending {
  
}

.dataGridEvenRow {
}

.dataGridEvenRowCell {
}

.dataGridOddRow {
}

.dataGridOddRowCell {
}

.dataGridHoveredRow {
  background: #eee;
}

.dataGridHoveredRowCell {
  border: selectionBorderWidth solid #eee;
}

.dataGridKeyboardSelectedRow {
  background: #ffc;
}

.dataGridKeyboardSelectedRowCell {
  border: selectionBorderWidth solid #ffc;
}

.dataGridSelectedRow {
  background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
  border: selectionBorderWidth solid #628cd5;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}
