<div *ngIf="!batchId">Select a batch to show samples</div>

<ng-container *ngIf="batchId && !samples">
    <div>Loading samples...</div>
    <div  class="d-flex justify-content-center">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>

<div *ngIf="samples" class="mb-1">
    <button type="button" class="btn btn-primary mb-1 mr-2"
        (click)="sampleCreationIsCollapsed = !sampleCreationIsCollapsed"
        [attr.aria-expanded]="!sampleCreationIsCollapsed" aria-controls="collapseGroupCreation">
        Create sample group...
    </button>
    <!-- <button type="button" class="btn btn-secondary mb-1 mr-2"
        (click)="toggleControlGroups()">
        {{ controlGroupsExpanded ? "Collapse" : "Expand" }}
        control groups
    </button>
    <button type="button" class="btn btn-secondary mb-1 mr-2"
        (click)="toggleTreatmentGroups()">
        {{ treatmentGroupsExpanded ? "Collapse" : "Expand" }}
        treatment groups
    </button> -->
    <div class="btn-group" dropdown [isDisabled]="!attributes"
        style="vertical-align:top">
        <button id="button-basic" dropdownToggle type="button"
                class="btn btn-primary dropdown-toggle mr-2"
                [ngClass]="{'btn-primary': attributes,
                            'btn-secondary': !attributes}"
                aria-controls="dropdown-basic">
            <span *ngIf="!attributes" class="spinner-border spinner-border-sm"
                role="status" aria-hidden="true"></span>
            Attributes
             <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-scrollable"
            role="menu" aria-labelledby="button-basic">
            <!--<h6 class="dropdown-header">Select batch:</h6>-->
            <li *ngFor="let attribute of attributes" role="menuitem">
                <a class="dropdown-item" [ngClass]="{'disabled': requiredAttributes.has(attribute.id)}"
                (click)="toggleColumn(attribute)" [routerLink]=""queryParamsHandling="preserve">
                <i *ngIf="findColumnForAttribute(attribute)" class="bi bi-check"></i>
                {{attribute.title}}
                </a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary mb-1 mr-2"
        (click)="openSampleFilteringModal(sampleFilteringModal)">
        Filter samples
    </button>
    <button *ngIf="helper.filters.length > 0"
        type="button" class="btn btn-danger mb-1 mr-2"
        (click)="clearFilters()">
        Clear filters
    </button>
</div>

<app-group-creation [collapsed]="sampleCreationIsCollapsed"
    [selectedTreatmentGroups]="selectedTreatmentGroups"
    (sampleGroupSaved)="onSampleGroupSaved($event)">
</app-group-creation>

<div #tabulatorContainer></div>

<div *ngIf="samples">
    {{ helper.filteredSamples !== undefined ? helper.filteredSamples?.length + " matching samples out of" : "" }}
    {{samples.length}} samples in batch {{batchId}}
</div>

<ng-template #sampleFilteringModal>
    <app-sample-filtering [attributes]="fetchedAttributes"
        [filters]="helper.filters" [attributeMap]="attributeMap" 
        (submitFilters)="onSubmitFilters($event)"
        (cancelEditFilters)="onCancelEditFilters()">
    </app-sample-filtering>
</ng-template>
