<p-card header="Samples">
    <div *ngIf="!batchId">Select a batch to show samples</div>

    <ng-container *ngIf="batchId && !samples">
        <div>Loading samples...</div>
        <p-progressSpinner></p-progressSpinner>
    </ng-container>

    <div *ngIf="samples">{{samples.length}} samples for batch {{batchId}}:</div>

    <ng-container *ngIf="samples">
        <p-table [columns]="cols" [value]="samples" [scrollable]="true"
            scrollHeight="75vh" table-layout="fixed"
            [style.max-width.px]="tableWidth"
            [virtualScroll]="virtualScroll" 
            [virtualRowHeight]="34" [rows]="100"
            styleClass="p-datatable-striped">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width.px]="col.width">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</p-card>
