<div class="container">
    <div class="row">
        <div class="col-12 pcard_container">
            <div class="pcard ui_panel">
                <app-dataset-picker [selectedDataset]="datasetId"
                    (selectedDatasetChange)="onSelectedDatasetChange($event)">
                </app-dataset-picker>
                <app-batch-picker [datasetId]="datasetId" (selectedBatchChange)="batchChanged($event)"></app-batch-picker>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pcard_container">
            <div class="pcard ui_panel">
                <app-sample-table [samples]=samples [batchId]=batchId>
                </app-sample-table>
            </div>
        </div>
    </div>
</div>
