<div class="container">
    <div class="row">
        <div class="col-12 pcard_container">
            <div class="pcard ui_panel">
                <app-dataset-picker [datasets]="datasets$ | async"
                    [selectedDataset]="datasetId$ | async"
                    (selectedDatasetChange)="datasetId$.next($event)">
                </app-dataset-picker>
                <app-batch-picker [batches]="batches$ | async"
                    [datasetId]="datasetId$ | async"
                    [selectedBatch]="batchId$ | async"
                    (selectedBatchChange)="batchId$.next($event)">
                </app-batch-picker>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 pcard_container">
            <div class="pcard ui_panel">
                <app-sample-table>
                </app-sample-table>
            </div>
        </div>
    </div>
</div>
