#netvizdiv h1{
	color: #84c754;
}

#netvizdiv h3{
	color: #84c754;
}

#netvizdiv div{
	/* border: 2px solid blue; */
	width: 20%;
	display: inline-block;
}

#netvizdiv select{
	/* border: 2px solid green; */
	width: 20%;
	display: inline-block;
}

#netvizdiv .container {
	padding-right:50px;
	padding-left:50px;
	margin-right:auto;
	margin-left:auto
}

#netvizdiv .visualization {
  border-style: dashed;
	display: inline-block;
  color: #84c754;
  width: 1000px;
  height: 1000px;
}

#netvizdiv .vizNotes{
	display: inline-block;
	vertical-align: top;
}


.cy-context-menus-cxt-menu {
    display:none;
    z-index:1000;
    position:absolute;
    border:1px solid #A0A0A0;
    padding: 0;
    margin: 0;
    width:auto;
}

.cy-context-menus-cxt-menuitem {
    display:block;
    z-index:1000;
    width: 100%;
    padding: 3px 20px;
    position:relative;
    margin:0;
    background-color:#f8f8f8;
    font-weight:normal;
    font-size: 12px;
    white-space:nowrap;
    border: 0;
    text-align: left;
}

.cy-context-menus-cxt-menuitem:enabled {
    color: #000000;
}

.cy-context-menus-ctx-operation:focus {
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0B9BCD;
    background-image: none;
    cursor: pointer;
}

.cy-context-menus-cxt-menuitem[content]:before {
    content:attr(content);
}

.cy-context-menus-divider {
  border-bottom:1px solid #A0A0A0;
}

/** CSS for the modal container (background) - from the w3schools example */
#netvizdiv .modal{
	display: none; /* hidden by default */
	position: fixed; /* dont move */
	z-index: 1; /* on top of the page */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#netvizdiv .modal-content{
	background-color: #fefefe;
	margin: 0;
	padding: 0px 20px;
	/* border: 1px solid #888; */
	width: 80%;
}

#netvizdiv .close{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#netvizdiv .remove,
#netvizdiv .add{
	color: #aaaaaa;
	/* float: right; */
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#netvizdiv .close.hover,
#netvizdiv .close:focus{
	color: #000;
	text-decoration: none;
	/* cursor: pointer; */
}

#netvizdiv .button{
	background-color: green;
	font-size: 1em;
	border: none;
	color: white;
	padding: 10px 10px;
	cursor: pointer;
	float: right;
}

#netvizdiv .scale{
	position: fixed; /* dont move */
	z-index: 1; /* on top of the page */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 10%;
	height: 10%;
	overflow: auto;
	background-color: rgba(0,0,0, 0.5);

}
