<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pcard_container">
      <div class="pcard ui_panel">
        <div *ngFor="let platform of platforms$ | async; index as i">
          <h3>{{ platform }}</h3>
          <ul class="list-unstyled">
            <li
              *ngFor="
                let geneSet of geneSetsForPlatform$(platform) | async;
                index as j
              "
            >
              <a routerLink="{{ geneSet.name }}"
                >{{ geneSet.name }} ({{ geneSet.probes.length }} probes)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 pcard_container">
      <div class="pcard ui_panel">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
