<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pcard_container">
      <div class="pcard ui_panel">
        <div *ngFor="let platform of platforms$ | async; index as i">
          <h3>{{ platform }}</h3>
          <ul class="list-unstyled">
            <li
              *ngFor="
                let geneSet of geneSetsForPlatform$(platform) | async;
                index as j
              "
            >
              <a routerLink="{{ geneSet.name }}"
                >{{ geneSet.name }} ({{ geneSet.probes.length }} probes)</a
              >
            </li>
          </ul>
        </div>
        <div class="form-group">
          <button
            type="button"
            class="btn btn-success"
            (click)="openGeneSetImportModal(geneSetImportModal)"
          >
            Import gene sets from TargetMine
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9 pcard_container">
      <div class="pcard ui_panel">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #geneSetImportModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Import gene sets from TargetMine</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          [ngModel]="targetMineUsername$ | async"
          (ngModelChange)="targetMineUsername$.next($event)"
          name="username"
          class="form-control mb-2"
          placeholder="Enter your TargetMine username"
          [disabled]="waitingForApiResponse"
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [ngModel]="targetMinePassword$ | async"
          (ngModelChange)="targetMinePassword$.next($event)"
          name="password"
          class="form-control mb-2"
          placeholder="Enter your TargetMine password"
          [disabled]="waitingForApiResponse"
        />
        <button
          type="button"
          class="btn btn-success mt-2"
          (click)="importGeneSets()"
          [disabled]="
            waitingForApiResponse ||
            !targetMineUsername$.value ||
            !targetMinePassword$.value
          "
        >
          <span
            *ngIf="waitingForApiResponse"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          {{ waitingForApiResponse ? "Importing" : "Import" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
